@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:wght@300;400;500;700&display=swap');
body{
    overflow-x: hidden;
}
*, div, p, label, form, button, img{
    padding: 0px;
    margin: 0px;
    font: 400 18px "Rubik";
    box-sizing: border-box; 
}
p{
    font-weight: 500;
    color: hsl(0, 0%, 17%);
}
h1{
    font-size: clamp(34px, 5vw - 60px, 70px);
    font-weight: 400;
    padding-top: calc(2vw - 5px);
    padding-bottom: calc((2vw - 5px) / 5);
}
:root {
    --top-content-h : clamp(305px, 23.5vw - 25px, 820px);
    --info-container-h : clamp(140px, 15vw - 90px, 380px);
    --bdr-r : calc(0.5vw + 8px); /*border-radius */        
    --search-h : calc(var(--info-container-h) / 3); /*search-bar-height*/
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.content{
    display: grid;
    grid-template-rows: calc(var(--top-content-h) - (var(--info-container-h) / 2)) minmax(400px, 1fr);
    height: 100vh;
}
.top-bg {
    background: linear-gradient(to right, #453f9a, #4c52b2, #4e6cc1, #556bd1, #5976de, #5d82ed);
    background-image: url(images/pattern-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top-container{
    position: absolute;
    top: 0;
    width: 100vw;
    height: var(--top-content-h);
}
.top-content{
    position: relative;
    width: 100vw;
    height: var(--top-content-h);
    background: transparent;
    display: grid;
    justify-items: center;
    align-content: space-between;
    z-index: 2;
}
.map-container{
    background: hsl(0, 0%, 86%);
}
.heading{
    text-align: center;
    color: white;
    font-weight: 500;
    line-height: normal;
}
input{
    width: 30%;
    height: var(--search-h);
    border-radius: var(--bdr-r) 0 0 var(--bdr-r);
    padding-left: calc(3px + 1vw);
    outline-style: none;
    border-style: none;
    font-size: calc(2px + 1.2vw);
}
input::placeholder{
    color: hsl(0, 0%, 59%);
    font-size: calc(2px + 1.2vw);
}
button{
    width: 4.5%;
    min-width: 50px;
    height: var(--search-h);
    color: white;
    border-style: none;
    background: hsl(0, 0%, 17%);
    border-radius: 0 var(--bdr-r) var(--bdr-r) 0;
}
.search-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: calc(2vw - 5px);
    box-sizing: border-box;
    overflow: hidden;    
}
.search-container > *{
    animation: slideDown .8s ease forwards;
    transition: all .8s ease;
}
.info-container{
    height: var(--info-container-h);
    background: white;
    width: 72.5%;
    border-radius: var(--bdr-r);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 55px 40px -30px;
    display: flex;
}
.info{
    padding: calc(1.5vw + 15px);
    padding-top: 0px; 
    position: relative;
    flex: 1;
}
.info::after{
    content: '';
    position: absolute;
    height: 50%;
    background: red;
    width: 2px;
    z-index: 5;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.info-last::after{
    content: none;
}
.info-title{
    padding-bottom: calc(2px + 0.5vw);
    color: hsl(0, 0%, 59%);
    font-size: calc(2px + 0.9vw);
    padding-top: 18%;
}
.info-content {
    padding-left: 2.4px;
    font-size: calc(2px + 1.36vw);
}
.map-container{
    position: relative;
    z-index: 1;
}
.leaflet-control{
    display: none;
}
.hide{
    visibility: hidden;
}
.slide-left{    
    animation: slideFromLeft .8s ease forwards;
    transition: all .8s ease;
}
@keyframes slideDown {
    0% {
      transform: translateY(200%);
    }
    60%{
        transform: translateY(10%);      
    }
    100% {
      transform: translateY(0%);
    }
}
@keyframes slideFromLeft {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }
    60%{
        transform: translateX(-10%);
        opacity: 0;     
    }
    85%{
        opacity: 1;
    }
    100% {
      transform: translateX(0%);
    }    
}
@media (max-width: 800px) {
    .top-content{
        display: grid;
        justify-items: center;
        align-content: normal;
        align-items: end;
    }
    .info-container{
        height: var(--info-container-h);
        background: white;
        width: 85%;
        border-radius: var(--bdr-r);
        box-shadow: rgba(0, 0, 0, 0.22) 0px 55px 40px -30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);        
    }
    .info{
        background: white;
        text-align: center;
        padding: calc(6px + 1vw); 
    }
    .info:nth-child(1){
        padding-top: calc(10px + 2vw);       
        border-radius: var(--bdr-r) var(--bdr-r) 0 0;
    }
    .info:last-child{
        padding-bottom: calc(10px + 2vw);
        border-radius: 0 0 var(--bdr-r) var(--bdr-r);
    }
    .info::after{
        display: none;
    }
    .info-content {
        padding-left: 0px;
        font-size: calc(13px + 1vw);
    }   
    input{
        width: calc(85% - 4.5%);
        max-width: calc(85% - 50px);
        height: var(--search-h);
        border-radius: var(--bdr-r) 0 0 var(--bdr-r);
        padding-left: calc(15px + 1vw);
        outline-style: none;
        border-style: none;
        font-size: 16px;
    }
    input::placeholder{
        color: hsl(0, 0%, 59%);
        font-size: 16px;
    }
    .info-title{
        font-size: calc(7px + 0.9vw);
        padding-top: 0px;
        padding-bottom: 5px;
    }
}
